{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/players"
    },
    "cloudant": {
     "db": "https://thathembellyoubsounusear:rmUcmoHuLxFNTbdBblwoB0oB@tayloreisman.cloudant.com/players"
    }
  }
}
